
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body {
    background: rgb(183,0,255);
background: linear-gradient(90deg, rgba(183,0,255,1) 0%, rgba(7,71,255,1) 35%, rgba(7,71,255,1) 65%, rgba(0,250,255,1) 100%);
}

canvas {
    background-color: cornflowerblue;
    margin-top: 50px;
    border: 1px groove red;
    border-radius: 20px;
    animation-name: c_boxshadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes c_boxshadow {
     from{box-shadow: 2px 2px 70px yellow;}
     to{box-shadow: 2px 2px 70px lightgreen;}
}
